* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Apply box-sizing globally */
}

body {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    height: fit-content;
    font-family: "Roboto";
}

footer {
    background-color: #53799E;
    font-family: 'Roboto', sans-serif;
    color: #EDF2F9;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
}


.footer-left p,
.footer-right p {
    margin: 0;
}

.footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-center ul li a {
    text-decoration: none;
    color: #EDF2F9;
    font-weight: bold;
}

.footer-center ul li a:hover {
    color: #f39c12;
}

footer a {
    color: #EDF2F9;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



.footer-container {
    flex-direction: column;
    text-align: center;
}

.footer-left,
.footer-center,
.footer-right {
    margin-bottom: 10px;
}