html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

iframe {
    width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 500ms;
}

.footer {
    margin-top: auto;
    margin-bottom: 0;
}

h1 {
    color: #324b61;
}

h2 {
    color: #4c6f8e;
}

h1.classes_styling,
h2.classes_styling {
    color: #EDF2F9;
}


.box-epit {

    height: 2000vh;
    padding: 2vw;
    border: 0.5vw solid #3c5873;
    border-radius: 3vw;
    margin: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgb(231, 231, 231);
    background-image: url('../images/sky.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-party {


    height: 3000vh;
    padding: 2vw;
    border: 0.5vw solid #53799E;
    border-radius: 3vw;
    margin: 5vh;
    background-color: rgb(231, 231, 231);
}

.box-euk {

    height: 3000vh;
    padding: 2vw;
    border: 0.5vw solid #53799E;
    border-radius: 3vw;

    margin: 5vh;
    background-color: rgb(231, 231, 231);
}

.box-epit tr:hover {
    background-color: #53799E;
    color: white;
    transition-duration: 100ms;
}

tr {
    transition-duration: 500ms;
}

td,
th {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 0.3vw;
    transition-duration: 300ms;
}

table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

/* Μορφοποίηση lightbox */

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}


#popup img {
    max-width: 90%;
    max-height: 80%;
}

/* Μορφοποίηση κουμπιού 'Χ' για κλείσιμο εικόνας */

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgb(224, 224, 224);
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Φαινομενικό "κόψιμο" εικόνων πριν ανοιχτούν ώστε να είναι συμμετρικές 
μεταξύ τους */

.cropped-img {
    height: 200px;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}

#contact-table {
    width: 95vw;
    padding: 2vw;
    background-color: rgb(231, 231, 231);
    text-align: center;
    border: 0.1vw solid black;
    border-collapse: collapse;
    margin: 2vw;

}

#contact-table th {
    border: 0.1vw solid #4c6f8e;
    border-collapse: collapse;
    border-style: outset;

}

.box-contact {

    width: 89vw;
    padding: 2vw;
    border: 0.5vw solid #94b4d4;
    margin: 5vh;
    color: rgb(0, 0, 0);
    background-color: #d3e1f0;
    border-radius: 1.5vw;
    box-shadow: 10px 15px 15px grey;

}

.box-contact a {
    color: #4c6f8e;
    font-style: italic;
    text-decoration: none;
}

.box-contact a:hover {
    text-decoration: underline
}

#contact-table td {
    border: 0.1vw solid #4c6f8e;
    border-collapse: collapse;
    border-style: outset;

}

.box-contact a:visited {
    color: #582369;
}

#lessons_background {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    background-color: #064789;
    box-shadow: 10px 10px 10px 10px #C2D3EB;
    color: #EDF2F9;
    border-radius: 10px;
    padding: 1%;
}

#lessons_background img {
    height: 100px;
    border-radius: 10px;
    margin: 3%;
}

.lesson {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #010A14;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px #53799E;
    background-color: rgb(231, 231, 231);
}

.lesson:hover .read_more {
    opacity: 1;
    transition: 0.3s ease;
}

.lesson_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.read_more {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 3%;
    text-decoration: none;
    color: #064789;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.lesson_outer {
    display: inline-block;
    align-content: center;
    vertical-align: top;
    margin-left: 1%;
    margin-right: 1%;
    width: 290px;
}

.centerer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_background {
    position: fixed;
    background-color: #0485d6;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

#progress_bar {
    background-color: #f6f3f4;
    width: 100vw;
    height: 1vh;
    margin-bottom: 0;
    bottom: 0;
    margin-top: auto;
}

#title {
    font-size: 5vw;
    text-shadow: 00px 0px 30px #010A14;
    color: #f6f3f4;
}

#title_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
}

#title_icon {
    border-radius: 1.2vw;
    border: solid #EDF2F9 0.3vw;
    box-shadow: 0.10vw 0.10vw 0.10vw;
    width: 3vw;
    height: 3vw;
    position: relative;

}

#intro_div {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_card_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro_card {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #010A14;
    font-size: 1.7vh;
    width: 22.5vh;
    height: 22.5vh;
    border-radius: 2vh;
    background-color: rgb(231, 231, 231);
    padding: 1vh;
    clip-path: inset(0 0% 0 0);
}

.intro_card_shadow {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 1));
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.intro_card hr {
    color: black;
    background-color: black;
}


#faculty-img {
    height: auto;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.faculty-head {
    color: #53799E;
}

.lesson-description-head {
    color: #53799E;
}

.lesson-description-div {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.7vh;
    border-radius: 2vh;
    padding: 1vw;
    border: 0.2vw dashed black;
    box-shadow: 1vw 1vw 1vw gray;
    transition-duration: 300ms;
    margin-bottom: 1vw;
    margin-top: 1vw;
    position: relative;
}

.lesson-description-div:hover {
    border: 0.3vw black solid;
    box-shadow: 1vw 1vw gray;
    transition-duration: 300ms;
}

.first-faculty-text {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.7vh;
    border-radius: 2vh;
    padding: 1vw;
    border: 0.2vw dashed black;
    box-shadow: 1vw 1vw 1vw gray;
    transition-duration: 300ms;
    margin-bottom: 1vw;
    margin-top: 1vw;
    width: fit-content;
    background-image: url('../images/faculty/faculty-kids.png');

}

#faculty-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5vw;
    margin-right: 5vw;
}

.faculty-text {
    width: 20vw;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.7vh;
    border-radius: 2vh;
    padding: 1vw;
    border: 0.2vw dashed black;
    box-shadow: 1vw 1vw 1vw gray;
    transition-duration: 300ms;
    margin-bottom: 5vw;
    margin-top: 1vw;
}

.faculty-text:hover {
    border: 0.3vw black solid;
    box-shadow: 1vw 1vw gray;
    transition-duration: 300ms;
}

button {
    margin: 1%;
    border-radius: 2vh;
    cursor: pointer;
    background-color: #d6e5f7;

}

.teacher-img {
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    margin-right: 1vw;
}

.teacher-div {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.teacher-properties {
    background-color: rgb(231, 231, 231);
    border-radius: 1vw;
    padding: 1vw;
}


#home_popup {
    width: 10vw;
    height: 30vh;
    border: solid 0vw black;
    margin-left: auto;
    margin-right: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    transition-duration: 500ms;
    border-radius: 1vw;
    background-color: rgb(231, 231, 231);
    box-shadow: 1vw 1vw 1vw gray;
    opacity: 0;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_popup:hover {
    transition-duration: 200ms;
    box-shadow: 1vw 1vw 1vw black;
    height: 31vh;
}

#popup_button {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1vw;
    border: solid 0px black;
    background-color: #007ac9;
    color: white;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    box-shadow: -0.1vw 0.1vw 0.1vw gray;
}

#home_popup_contents {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    font-size: 0.8vw;
}

#open-img1,
#open-img2,
#open-img3 {
    transition: transform 0.3s ease;
}

#open-img1:hover,
#open-img2:hover,
#open-img3:hover {
    transform: scale(1.1);
}

#quiz_icon {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 3vw;
    height: 3vw;
}

#nameInput {
    width: 50%;
    height: 4vh;
    border-radius: 1vw;
    margin: 0;
    padding: 0.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
}

#submit_button {
    border: solid 0px black;
    background-color: #007ac9;
    color: white;
    width: 8vw;
    height: 2vw;
    padding: 0.2vw;
    border-radius: 1vw;
    box-shadow: -0.1vw 0.1vw 0.1vw gray;
    font-size: 1vw;
}

#name-input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#answers {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 30vw;
    margin-right: 30vw;
}



#quiz_top {
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: white;
}

.answer_div {
    display: inline-block;
    font-size: 1.7vh;
    border-radius: 2vh;
    padding: 1vw;
    border: 0.2vw dashed black;
    box-shadow: 1vw 1vw 1vw gray;
    transition-duration: 300ms;
    margin: 1vw;
    position: relative;
    opacity: 0;
}

.answer_div:hover {
    border: 0.3vw black solid;
    box-shadow: 1vw 1vw gray;
    transition-duration: 300ms;
}


#answer_correctness_button {
    display: flex;
    font-size: 1.5vw;
    border-radius: 2vh;
    padding: 1vw;
    border: 0.2vw dashed black;
    box-shadow: 1vw 1vw 1vw gray;
    transition-duration: 300ms;
    margin: 1vw;
    position: relative;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    background-color: rgb(231, 231, 231);
    pointer-events: none;
    transition-duration: 0ms;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;

}

#answer_correctness_button:hover {
    border: 0.3vw black solid;
    box-shadow: 1vw 1vw gray;
    transition-duration: 300ms;
}

.first-letter-style {
    font-size: 5vh;
}